

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

body {
    background-color: rgb(35, 33, 33);
    padding: 100px;
    color:white
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;

}

header img {
    height: 70px;
    margin-right: 16px;
    margin-bottom: 0px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px
}

form input {
    font-size: 16px;
    background-color: #353434;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    color:#ffffff;
}

.input {
    display: flex;
    flex-direction:column;
    gap: 5px
}

label {
    font-weight: 700;
    font-size: 20px;
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    border: none;
    margin-top: 27px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #ffffff;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


@media (max-width: 960px) {
    body {
        background-color: rgb(35, 33, 33);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 40px;
        color:white;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
    
}

@media (max-width: 510px) {

    header img {
        height: 40px;
        margin-right: 8px;
        margin-bottom: 0px;
    }
    
    header h1 {
        font-size: 20px;
        font-weight: bold;
    }

    
label {
    font-weight: 700;
    font-size: 15px;
}

form button {
    font-size: 16px;
    margin-top: 22px;
}

form input {
    font-size: 12px;

}

form {
    margin-bottom: 36px;
}


table th {
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
}

table td {
    padding: 14px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 10px;
}
  
}
@media (max-width: 400px) {
 
}